{% extends "poll/layout.html"%}

{% block title %}   {% endblock title%}

{% block style %}  {% endblock style %}   


{% block links %}   {% endblock links %} 

{% block body %} 
{% load widget_tweaks %}
    <div class="container">
        <div class="row">
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita recusandae inventore sunt sint corrupti sit, quos dolorum eveniet eos consectetur nostrum culpa, provident a quia est voluptas. Laboriosam, laudantium repellat! </p>
            
            <div class="col-md-6"> </div>
            <div class="col-md-6"> </div>

        </div>
    </div>

 {% endblock body%}

{% block script %}  {% endblock script %}

