{% extends "poll/layout.html"%}

{% block title %}  Avilable Polls {% endblock title%}

{% block style %} 

span
{
    float : end;
}
 {% endblock style %}   


{% block links %}   {% endblock links %} 

{% block body %} 

<div class="container">

    {% for i in messages %}
        <div class="alert alert-primary text-center" role="alert">
            {{i}}
        </div>
        
    {% endfor %}

    <div class="d-inline-block mt-3 p-2 bg-info  text-white round ">
    
        Total Polls <span class="badge badge-light">{{total}}</span>
    </div>
    <div class="d-inline-block mt-3 p-2  float-right text-white">
        <a href="{% url "poll" %}" class="btn btn-danger">Create New Poll</a>
    </div>




    <div class="row mt-5 ">
        <div class="col-md-10 ">
        <h3 class="bg-danger text-center p-2">Question List <span class="text-white ml-3">Each Poll Avilable for 48 hrs </span></h3>
            {% for i in all_question %}

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> 
                   <span class=" mr-2 text-info">{{forloop.counter}} )</span>    {{i.title}}  
                        <span class="float-right"> 
                        {% load tags %}
                       <a href="#" class="btn disabled btn-outline-danger">{{i.created_on}} </a>    
                       <!-- Created_on value is passed to the tags.py and then return some value-->
                        {% comment %} {{i.created_on|status}} {% endcomment %}
                         {% if i.created_on|status %}
                                <a href="{% url 'give_vote' i.id %}" class="btn btn-primary"> Vote</a>  
                                
                            {% else%}
                                <a href="{% url 'give_vote' i.id %}" class="btn  disabled "> <s> Vote </s></a>  
                                
                                   
                            {% endif %}    
                            <a href="{% url 'result' i.id %}" class="btn btn-danger"> Result</a> 
                             </span> 
                    {# Send the "i.id" and "i.created_on" to tag #}

                      <!--   {% remaining_cost i.id i.created_on  as l %}
                        {{l.ab}}  {# accessing key value pair  #}
                        {{l.expired_time}}
                        --> 

                           
                      
                    </li>
                </ul>

            {% endfor %}
        
        </div>

    {% comment %} {% if request.user%}
        AnonymousUser
        <h1>AnonymousUser</h1>
   
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Question Created BY You</th>

    </tr>
  </thead>
  <tbody>
  


    {% for mykey,myvalue in user_data.items %}
    
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      
      <td>{{ mykey }}</td>

       {# {{ myvalue }} #}
        
    </tr>
 

      {% endfor %}
  
  </tbody>
</table>
    {% else %}
    Not logged in 
    {% endif %} {% endcomment %}

    </div>
</div>


 {% endblock body%}

{% block script %}  {% endblock script %}

