{% extends "poll/layout.html"%}
{% load static %}
{% block title %}   {% endblock title%}

{% block style %}

.django-ckeditor-widget
{
    display: flex !important;
}

.heading
{
    background: darkcyan;
        border: 2px solid black;
    padding: 5px;
}

.back
{
    display: block;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid white;
    color: white !important;
}

.back:hover{
    color: black !important;

}
.link
{
  
    color:black;
}

.link:hover
{
    text-decoration:none;
}

.disp
{
    display:flex;
    justify-content: space-around;
}
  {% endblock style %}   


{% block links %} 

<!-- <script src="{% static 'blog/js/tinyinject.js'%}"></script> -->
<!-- 
<script src="{% static 'blog/js/tinyinject.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/tinyinject.js' %}" ></script> -->

{% endblock links %} 

{% block body %} 
{% load widget_tweaks %}

    <div class="container">
        <div class="row">            
            <div class="col-md-9 "> 
            
                <h3 class="text-center mt-5 mb-4 heading disp">Create New Blog 
        <span><a class="link back " href="{% url 'show_blogs' %}"> Back</a></span>

                </h3>

                <!-- <a href="{% static 'blog/js/tinyinject.js'%}">skdjf</a> -->

                <form action="" method="Post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="form-group">

                        <label for="">Title </label>
                        {% render_field form.title  class="form-control" placeholder="Enter Title of POST" %}
                    
                    </div>
                    <div class="form-group">
                        <label for="">Content </label>
                        {% render_field form.content  class="form-control" placeholder="Enter Content" %}
                    
                    </div>

                    <div class="form-group">
                        <label for="">Add Category </label>
                        {% render_field form.blog_category  class="form-control" placeholder="Add category" %}
                    
                    </div>

                    {{image_form}}

                
                    <button type="submit" class="btn btn-success ">POST</button>
                </form>
            </div>
            <div class="col-md-3">

             <h3 class="text-center heading mt-5">Recent Blogs</h3>
            <table class="table">
            
            <tbody>
             {% for i in data %}

                <tr>
                
               <td> <a class="link text-danger" href="{% url 'detail_blog' i.id %}"> {{i.title}}</a> </td>
                </tr>
             {% endfor %}
            
            </tbody>
            </table>
                

             </div>

        </div>
    </div>

 {% endblock body%}

{% block script %}


  {% endblock script %}

