<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>How Forms Working ?</h2>

                <form action="" method ="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <hr>
                    {% for form in form%}
                        {{form}}
                        {{<form action="" class="id_for_label"></form>}}
                    {% endfor %}

{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
                    <input type="submit" value="POST">
                </form>
            </div>
        </div>
    </div>
</body>
</html>